@using WebApp.Services.DTOs
@model CommentDto

<h1>Details</h1>
<div><strong>Text:</strong> @Model.Text</div>
<div><strong>Template:</strong> @Model.Template?.Title</div>
<p><a asp-action="Index">Back</a></p>
