@using Template.Domain.Model
@model Tag
<h1>Edit Tag</h1>
<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <button type="submit">Save</button>
    <a asp-action="Index">Cancel</a>
</form>
