@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <ul class="navbar-nav flex-grow-1">
            <li><a asp-area="" asp-controller="Tag" asp-action="Index">Tags</a></li>
            <li><a asp-area="" asp-controller="Template" asp-action="Index">Templates</a></li>
            <li><a asp-area="" asp-controller="Topic" asp-action="Index">Topics</a></li>
            <li><a asp-area="" asp-controller="User" asp-action="Index">Users</a></li>
        </ul>
    </div>
</div>
